{{- /*
  vim:ft=bash.gotmpl:
*/ -}}
#!/bin/bash

{{ template "utils" }}

USER={{ .non_root_user }}


if [ -f /var/spool/cron/$USER ]; then
  log_task "Updating cron jobs"
{{ if .isArch }}
  echo "{{ template "cronjobs" . }}" > /var/spool/cron/$USER
{{ else if .isUbuntu }}
  echo "{{ template "cronjobs" . }}" > /var/spool/cron/crontab/$USER
{{ end }}
fi
