{{- /*
  vim:ft=toml.gotmpl:
*/ -}}
{{- /* CHOICES */ -}}

{{- /* PROMPTS */ -}}
{{- writeToStdout "🌟 Chezmoi configuration 🌟\n" -}}
{{- writeToStdout "💡 Tip: You can re-enter prompted inputs with `chezmoi init --data=false`.💡\n" -}}
{{- $bitwardenEmail := promptString "🔧❓Which Bitwarden email" -}}
{{- $workConfig := promptBool "🔧❓Enable work configuration [y/N]" false -}}
{{- $isWindowsAdmin:= promptBool "🔧❓Are you Windows admin [y/N]" false -}}
{{- $personalSsh := promptBool "🔧❓Retrieve personal sshKeys/config from BitWarden [Y/n]" true -}}
{{- $generateSsh := promptBool "🔧❓Generate new sshKey [y/N]" false -}}

{{- /* TEMPLATE */ -}}
[hooks.read-source-state.pre]
    command = "{{ .chezmoi.workingTree }}/home/.chezmoihooks/install-prerequisite.sh"

[merge]
  command = "nvim"
  args = ["-d", "{{ "{{ .Source }}" }}", "{{ "{{ .Destination }}" }}", "{{ "{{ .Target }}" }}"]

[diff]
  pager = "delta"
  command = "delta"
  args = "--side-by-side"
  exclude = ["scripts", "dirs"]

[data]
  machineType = {{ .chezmoi.os | quote }}
  osName = {{ .chezmoi.osRelease.id | quote}}
  isWsl = {{ if (.chezmoi.kernel.osrelease | lower | contains "microsoft" ) }}true{{ else }}false{{ end }}
  isWindowsAdmin = {{ $isWindowsAdmin }}
  isArch = {{ if (eq .chezmoi.osRelease.id "arch") }}true{{ else }}false{{ end }}
  isUbuntu = {{ if (eq .chezmoi.osRelease.id "ubuntu") }}true{{ else }}false{{ end }}
  work = {{ $workConfig }}

[data.bitwarden]
  email = {{ $bitwardenEmail | quote }}

[data.ssh]
  personalSsh = {{ $personalSsh }}
  generateSsh = {{ $generateSsh }}

[data.git.personal]
  email = {{ promptString "📧❓Gitconfig: Personal email" | quote }}
  username = {{ promptString "🧑❓Gitconfig: Personal username" | quote }}

{{- if $workConfig }}
[data.git.work]
  email = {{ promptString "📧❓Gitconfig: Work email" | quote }}
  username = {{ promptString "🧑❓Gitconfig: Work username" | quote }}
  gpgKey = {{ promptBool "🔐❓Gitconfig: Work gpgKey [y/N]" false}}
{{- end }}
