{{- /*
  vim:ft=gitconfig.gotmpl:
*/ -}}
[color]
	ui = auto

[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  lg = log --pretty=format:'%C(yellow)%h%Creset -%C(red)%d%Creset %s %C(bold blue)<%an>%Creset' --abbrev-commit
  pclone = "!organize-git-clone"
  rdiff = "!git log \"$1\"...\"$2\"  --pretty=format:\"- %s\" --reverse"

[core]
  editor = nvim
  abbrev = 12

[pretty]
	shasum = "Sha1: %h (\"%s\")"

[fetch]
  prune = true

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true

[pull]
  rebase = true

[merge]
  tool = nvim

[mergetool "nvim"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[gpg]
	program = /usr/bin/gpg

[include]
  path = /home/{{ .chezmoi.username }}/.config/gitconfig/personal

{{- if .work }}
[includeIf "gitdir:/home/{{ .chezmoi.username }}/Documents/Work/**"]
  path = /home/{{ .chezmoi.username }}/.config/gitconfig/work
{{- end -}}
