# vim: ft=gitconfig
[color]
	ui = always

[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  lg = log --pretty=format:'%C(yellow)%h%Creset -%C(red)%d%Creset %s %C(bold blue)<%an>%Creset' --abbrev-commit
  pclone = "!organize-git-clone"
  rdiff = "!git log \"$1\"...\"$2\"  --pretty=format:\"- %s\" --reverse"

[core]
  editor = nvim
  abbrev = 12
  ; sshCommand = ssh -i ~/.ssh/id_ed25519 -F /dev/null

[pretty]
	shasum = "Sha1: %h (\"%s\")"

[fetch]
  prune = true

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true

[pull]
  rebase = true

[merge]
  tool = nvim

[mergetool "nvim"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[gpg]
	program = /usr/bin/gpg
{{ if .git.default | ne "personal" }}
[include]
  path = /home/{{ .chezmoi.username }}/.config/gitconfig/work

[includeIf "gitdir:/home/{{ .chezmoi.username }}/.local/share/chezmoi/**"]
  path = /home/{{ .chezmoi.username }}/.config/gitconfig/personal

[includeIf "gitdir:/home/{{ .chezmoi.username }}/Documents/OSS/**"]
  path = /home/{{ .chezmoi.username }}/.config/gitconfig/personal

[includeIf "gitdir:/home/{{ .chezmoi.username }}/Documents/Work/**"]
  path = /home/{{ .chezmoi.username }}/.config/gitconfig/work
{{- end -}}

{{ if .git.default | ne "work" }}
[include]
  path = /home/{{ .chezmoi.username }}/.config/gitconfig/personal
{{- end -}}
