{{- /*
  vim:ft=bash.gotmpl:
*/ -}}
#!/bin/bash

{{ template "utils" }}

"{{ .chezmoi.homeDir }}/.local/bin/scripts/wallpaper" ensure
"{{ .chezmoi.homeDir }}/.local/bin/scripts/theme" generate || true
"{{ .chezmoi.homeDir }}/.local/bin/scripts/theme" ensure
