{{- /*
  vim:ft=bash.gotmpl:
*/ -}}
#!/bin/bash

{{ template "utils" }}

{{- if .isWork }}
DIRS_TO_CREATE="Personal Work OSS/Github OSS/Gitlab"
{{ else }}
DIRS_TO_CREATE="Personal OSS/Github OSS/Gitlab"
{{ end }}

# check if directories exist
for dir in $DIRS_TO_CREATE; do
    if [ ! -d "{{ .chezmoi.homeDir }}/Documents/$dir" ]; then
      log_task "Creating directory {{ .chezmoi.homeDir }}/Documents/$dir"
      mkdir -p "{{ .chezmoi.homeDir }}/Documents/$dir"
    fi
done
