{{- /*
  vim:ft=bash.gotmpl:
*/ -}}
#!/bin/bash

{{ template "utils" }}

{{- if .work }}
DIRS_TO_CREATE="Personal Work OSS/Github OSS/Gitlab"
{{ else }}
DIRS_TO_CREATE="Personal OSS/Github OSS/Gitlab"
{{ end }}

# check if directories exist
for dir in $DIRS_TO_CREATE; do
    if [ ! -d "/home/{{ .chezmoi.username }}/Documents/$dir" ]; then
      log_task "Creating directory /home/{{ .chezmoi.username }}/Documents/$dir"
      mkdir -p "/home/{{ .chezmoi.username }}/Documents/$dir"
    fi
done
