{{- /*
  vim:ft=bash.gotmpl:
*/ -}}
#!/bin/bash

{{ template "utils" }}

"{{ .chezmoi.homeDir }}/.local/bin/scripts/wallpaper" ensure
"{{ .chezmoi.homeDir }}/.local/bin/scripts/theme" ensure

# GTK: dark variant of adw-gtk3, coloured by ~/.config/gtk-*/gtk.css.
gsettings set org.gnome.desktop.interface color-scheme prefer-dark
gsettings set org.gnome.desktop.interface gtk-theme adw-gtk3-dark
