{{- /*
  vim:ft=bash.gotmpl:
*/ -}}
#!/usr/bin/env bash

{{ template "utils" }}

{{ if .isArch }}
{{ template "arch/install_packages" . }}
{{ else if .isUbuntu }}
{{ template "ubuntu/install_packages" . }}
{{ end }}
