{{- /*
  vim:ft=bash.gotmpl:
*/ -}}
#!/bin/bash

{{ template "utils" }}

# gpg-agent.conf hash: {{ includeTemplate "private_dot_gnupg/gpg-agent.conf.tmpl" . | sha256sum }}
# gpg.conf hash: {{ include "private_dot_gnupg/gpg.conf" | sha256sum }}

log_task "Reloading GPG conf..."
gpgconf --reload gpg-agent
gpg-connect-agent reloadagent /bye > /dev/null 2>&1
