{{- /*
  vim:ft=bash.gotmpl:
*/ -}}
#!/bin/bash

{{ template "utils" }}

ensure_service_enabled docker.service
ensure_service_active docker.service
ensure_user_in_group "{{ .chezmoi.username }}" docker
