#!/bin/bash

mkdir -p /home/{{ .chezmoi.username }}/Documents/OSS/Github
mkdir -p /home/{{ .chezmoi.username }}/Documents/OSS/Gitlab
{{ if .git.default | ne "personal" }}
mkdir -p /home/{{ .chezmoi.username }}/Documents/Work
{{- end -}}
{{ if .git.default | ne "work" }}
mkdir -p /home/{{ .chezmoi.username }}/Documents/Personal
{{ end -}}
