{{- /*
  vim:ft=bash.gotmpl:
*/ -}}
#!/bin/bash

{{ template "utils" }}

ensure_user_in_group_fast "{{ .chezmoi.username }}" xrdp ssl-cert

if ! ss -tuln | grep -q ":$PORT "; then
    log_task "Port $PORT is not open will be opened for xrdp.."
    sudo ufw allow 3389/tcp
    sudo ufw reload
fi
