{{- /*
  vim:ft=bash.gotmpl:
*/ -}}
#!/bin/bash

{{ template "utils" }}

ensure_service_enabled libvirtd.service
ensure_service_active virtlogd.service
ensure_user_in_group "{{ .chezmoi.username }}" libvirt
ensure_user_in_group "{{ .chezmoi.username }}" kvm
