{{- /*
  vim:ft=bash.gotmpl:
*/ -}}
#!/bin/bash

{{ template "utils" }}

if ! systemctl is-enabled docker; then
  log_task "Enabling docker/containerd services"
  sudo systemctl enable docker.service
  sudo systemctl enable containerd.service
fi

if ! systemctl is-active --quiet docker; then
  log_task "Restarting docker/containerd services"
  sudo systemctl restart docker.service
  sudo systemctl restart containerd.service
fi

if ! groups {{ .chezmoi.username }} | grep -q docker; then
  log_task "Adding {{ .chezmoi.username }} to docker group"
  sudo usermod -aG docker {{ .chezmoi.username }}
fi
