{{- /*
  vim:ft=gitconfig.gotmpl:
*/ -}}
[user]
  name = {{ .work.username }}
  email = {{ .work.email }}
  signingkey = {{ if .work.sshKeyProvided }}{{ .work.sshKeyPath }}{{ else }}{{ .chezmoi.homeDir }}/.ssh/rbw/work.pub{{ end }}

[commit]
  gpgsign = true

[core]
{{- if .work.sshKeyProvided }}
  sshCommand = ssh -F /dev/null -o IdentitiesOnly=yes -i {{ .work.sshKeyPath }}
{{- else }}
  sshCommand = ssh -F /dev/null -o IdentitiesOnly=yes -o IdentityAgent=${XDG_RUNTIME_DIR}/rbw/ssh-agent-socket -i ~/.ssh/rbw/work.pub
{{- end }}
