{{- /*
  vim:ft=gitconfig.gotmpl:
*/ -}}
[user]
  name = {{ .work.username }}
  email = {{ .work.email }}

# INFO: override personal identity, no gpg on work env most of the time
[commit]
  gpgsign = false

[core]
  sshCommand = ssh -i ~/.ssh/id_ed25519 -F /dev/null
