# Include different configurations for different hosts type
Include extras/*
Include personal/*

# Common configurations
AddKeysToAgent yes
ForwardAgent yes
IdentitiesOnly yes

{{ if .isPersonal }}
IdentityFile ~/.ssh/id_ed25519_personal
{{ end }}
