# Include different configurations for different hosts type
Include extras/*
Include personal/*

Host *
    ServerAliveInterval 60
    ServerAliveCountMax 3

# Common configurations
AddKeysToAgent yes
ForwardAgent yes
IdentitiesOnly yes

{{ if .isPersonal }}
IdentityFile ~/.ssh/id_ed25519_personal
{{- end }}
