{{- /*
  vim:ft=gitconfig.gotmpl:
*/ -}}
[tools]
helm = "latest"
argocd = "latest"
kustomize = "latest"
k9s = "latest"
kubectl = "latest"
kubectx = "latest"
kubens = "latest"
kubent = "latest"
minikube = "latest"
opentofu = "latest"
terraform = "latest"
