{{- /*
  vim:ft=gitconfig.gotmpl:
*/ -}}
[tools]
"aqua:doy/rbw" = "1.13.2"
chezmoi = "2.62.4"
delta = "0.18.2"
eza = "0.21.3"
fastfetch = "2.43.0"
fd = "10.2.0"
fzf = "0.62.0"
lazygit = "0.50.0"
neovim = "0.11.1"
ripgrep = "14.1.1"
superfile = "1.2.1"
uv = "0.7.3"
