{{- /*
  vim:ft=gitconfig.gotmpl:
*/ -}}
[tools]
"aqua:doy/rbw" = "latest"
bat = "latest"
chezmoi = "latest"
delta = "latest"
eza = "latest"
fastfetch = "latest"
fd = "latest"
fzf = "latest"
gh = "latest"
glab = "latest"
go = "latest"
lazygit = "latest"
neovim = "latest"
node = "latest"
opentofu = "latest"
ripgrep = "latest"
rust = "latest"
superfile = "latest"
uv = "latest"
yq = "latest"

[env]
  MISE_NODE_DEFAULT_PACKAGES_FILE= "~/.config/mise/.default-npm-packages"
