{{- /*
  vim:ft=gitconfig.gotmpl:
*/ -}}
[tools]
"aqua:doy/rbw" = "1.13.2"
"npm:neovim" = "5.3.0"
bat = "0.25.0"
chezmoi = "2.62"
delta = "0.18.2"
eza = "0.21.3"
fastfetch = "2.43"
fd = "10.2"
fzf = "0.62.0"
go = "1.24"
lazygit = "0.50.0"
neovim = "0.11.1"
node = "24"
ripgrep = "14.1"
rust = "1.87"
superfile = "1.2"
uv = "0.7.3"
