# Talos Drummy Cluster
# public key: {{ (rbwFields "sops" ).talosDrummyClusterPublicKey.value }}
{{ (rbwFields "sops" ).talosDrummyClusterPrivateKey.value }}
# Raspberry home_lan
# public key: {{ (rbwFields "sops" ).raspberryHomeLanPublicKey.value }}
{{ (rbwFields "sops" ).raspberryHomeLanPrivateKey.value }}
