{{- /*
  vim:ft=toml.gotmpl:
*/ -}}
{{- $chezmoiData := deepCopy . -}}
{{- $chezmoiDiff := $chezmoiData.chezmoi.config.diff }}
{{- $chezmoiData = unset $chezmoiData "chezmoi" -}}
{{- $chezmoiData = unset $chezmoiData "aptPackages"}}
{{- $chezmoiData = unset $chezmoiData "aptWsl"}}
{{- $chezmoiData = unset $chezmoiData "archPackages"}}
{{- $chezmoiData = unset $chezmoiData "fontsDir"}}
{{- $chezmoiData = unset $chezmoiData "pipx"}}
{{- $chezmoiData = unset $chezmoiData "windowsTerminalFont"}}
{{- $chezmoiData = unset $chezmoiData "wslWindows"}}

{{- $sourceDir := joinPath .chezmoi.workingTree "root" -}}
sourceDir= "{{ $sourceDir }}"

destDir= "/"

verbose= true

[diff]
exclude = ['dirs', 'scripts']
reverse = false
scriptContents = true

[data]
non_root_user= "{{ .chezmoi.username }}"
{{ $chezmoiData | toToml }}
